
# Ignore bundler config.
api/.bundle
api/vendor/bundle

# Ignore all logfiles and tempfiles.
api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep

# Ignore pidfiles, but keep the directory.
api/tmp/pids/*
!api/tmp/pids/
!api/tmp/pids/.keep

# Ignore uploaded files in development
api/storage/*
!api/storage/.keep

# Ignore master key for decrypting credentials and more.
api/config/master.key


# Ignore package files
frontend/node_modules

# Ignore yarn files
frontend/yarn-error.log

frontend/assets


# Ignore env setting
.env
.env.*


# Ignore storybook output directory
storybook-static

# VSCode
*.code-workspace

# Mac
.DS_Store
